
main form  {
    font-size: 15px;
    padding: 10px;
}

input[type="text"] {
    font-size: 16px; /* Adjust the font size */
    width: 150px;    /* Adjust the width */
    border-radius: 5px;
}

.button {
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 30px;
    background-color:#cdc274;
}

.button:hover {
    background-color: rgba(220, 219, 175, 0.86);
}


